<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Register</h3></div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="small mb-1" for="username">Username</label>
                            <input class="form-control py-4" id="username" type="text" placeholder="Enter username" [(ngModel)]="registerData.userName" name="userName" required />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="password">Password</label>
                            <input class="form-control py-4" id="password" type="password" placeholder="Enter password" [(ngModel)]="registerData.password" name="password" required />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="firstName">First Name</label>
                            <input class="form-control py-4" id="firstName" type="text" placeholder="Enter first name" [(ngModel)]="registerData.firstName" name="firstName" required />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="lastName">Last Name</label>
                            <input class="form-control py-4" id="lastName" type="text" placeholder="Enter last name" [(ngModel)]="registerData.lastName" name="lastName" required />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="email">Email</label>
                            <input class="form-control py-4" id="email" type="email" placeholder="Enter email address" [(ngModel)]="registerData.email" name="email" required />
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a routerLink="/login">Already have an account? Login!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
