<div class="d-flex flex-row">
<app-side-nav *ngIf="IsUserLogged()"></app-side-nav>

<div class="flex-grow-1">

<div *ngIf="quizzes && quizzes.length; else noDataTemplate">
    <h2>Available Quizzes</h2>
    <ul>
      <li *ngFor="let quiz of quizzes">
        <a [routerLink]="['/quiz-details', quiz.name]">
          <h3>{{ quiz.name }}</h3>
          <p>Description: {{ quiz.description || 'No description provided.' }}</p>
          <p>Created by: {{ quiz.authorName }}</p>
          <span *ngFor="let tag of quiz.tags">
            <a>{{ tag.name}}</a>
          
          </span>

        </a>
      </li>
    </ul>
  </div>
  <ng-template #noDataTemplate>
    <p>No quizzes available at the moment.</p>
  </ng-template>


</div>

</div>